@model ThyRealmBeyond.Web.ViewModels.Administration.PersonalInfo.PersonalInfoEditInputModel

@{
    ViewData["Title"] = "Edit About Me";
}

<script src="~/lib/tinymce/tinymce.min.js" type="text/javascript" asp-append-version="true"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        relative_urls: false,
        remove_script_host : false,
        convert_urls : true,
        plugins: [
            "image paste table link code media fullscreen wordcount searchreplace lists"
        ]
    });
</script>
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content" class="control-label"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl" class="control-label"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" /> | <a asp-action="Index">Back</a>
    </div>
</form>