@model ThyRealmBeyond.Web.ViewModels.BlogPosts.BlogPostViewModel
@using ThyRealmBeyond.Common
@{
    this.ViewData["Title"] = Model.Title;
    this.ViewData["Image"] = Model.ImageUrl;
}

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p class="lh-base">
                    @Html.Raw(Model.SanitizedContent)
                </p>
                <ul class="list-inline list-unstyled">
                    <li><span><i class="fa fa-calendar-alt"></i> @Model.CreatedOn </span></li>
                    <li><span>class="text-right"><i class="fas fa-feather-alt"></i>@GlobalConstants.BlogPostAuthor</span></li>
                </ul>
            </div>
        </div>
    </div>
</article>
@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <li><i class="fa fa-pencil-alt"></i> <a asp-area="Administration" asp-controller="BlogPosts" asp-action="Edit" asp-route-id="@Model.Id">Edit</a></li>
}
